ms\:progress{
    position: relative;
    display: block;
}
ms\:progress .percentage{
    display: block;
    top:0%;
    left:50%;
    margin-left:-30px;
    text-align: center;
    position: absolute;
    line-height: 1rem;
    font-size:12px;
    width:60px;
    height:1rem;
    color:#ccc;
}
